<footer>
  <div class="clearfix">
    <div class="row">
      <div class="medium-6 large-6 columns">
        <div class="large-8 columns">
            <figure>
              <%= image_tag("footer.png", :alt=> "logo") %>
            </figure>
          <h5 class="cc">&copy; 2015, Bisutería Jaramillo S.A de C.V.</h5>
          <h6>Justo Sierra 41 Col. Centro, Distrito Federal, México.</h6>

        </div>
      </div>
      <div class="medium-6 large-6 columns text-center">
        <p class="feedback">Síguenos en nuestras redes sociales.</p>
        <ul class="social">
          <li><a href="https://www.facebook.com/elcastillodelafantasiamx"><span class="fa fa-facebook cuadro"> </span></a></li>
          <li><a href="https://twitter.com/@ElCastillodelaF"><span class="fa fa-twitter cuadro"> </span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-12 columns">
      <ul class="legals">
        <li><a href="">Términos y condiciones.</a></li>
        <li><a href="">Aviso Legal.</a></li>
      </ul>
    </div>
  </div>
</footer>
